.layout {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.layoutContent {
  max-width: var(--layout-width);
  margin-inline: auto;
  padding: var(--spacing-lg);
}

@media (min-width: 1000px) {
  .layoutContent {
    padding-inline: unset;
  }
}
