.articleUnorderedList {
  padding-left: var(--spacing-xl);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.articleUnorderedListItem {
  color: var(--neutral10);
  font-size: var(--font-md);
  font-weight: var(--font-light);
  line-height: 140%;
}
