.headerNav {
  background-color: var(--neutral90);
  height: var(--header-height);
  display: flex;
  padding-inline: var(--spacing-lg);
}

.headerNavContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
  max-width: var(--layout-width);
  margin-inline: auto;
}

.headerNavLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-lg);
}

.headerNavLink {
  text-transform: uppercase;
  color: var(--neutral10);
  padding: var(--spacing-md);
  border-radius: var(--radius-md);
}

.headerNavLink:hover {
  background-color: var(--neutral70);
}

@media (min-width: 1000px) {
  .headerNavLinks {
    gap: var(--spacing-xl);
  }
}
