.articleImageContainer {
  width: 100%;
  height: 270px;
  margin-bottom: -1.5rem;
  margin-top: 1rem;
  position: relative;
}

.articleImage {
  margin-inline: auto;
  position: relative !important;
  object-fit: cover;
}

@media (min-width: 1000px) {
  .articleImageContainer {
    margin-bottom: unset;
    margin-top: unset;
    height: 400px;
  }
}
